name: Update Live Satellite GeoJSON

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Requirements
      run: |
        pip install sgp4 requests

    - name: Generate GeoJSON
      run: python generate_all_geojson.py

    - name: Commit and Push
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add output/*.geojson
        git commit -m "Auto update live satellite geojson" || echo "No changes"
        git push
